{% extends 'blog/base.html' %}
    
    {% block content %}
    <center><h3>ANATOMIA</h3></center>
    <HR>
        <br>
    <center><table border="0" width='80%'>
            <tr>
                <td>
                    <FIELDSET>
                        <legend>HISTORIA</legend>
                        <br>
                        <div align='center'>
                            Durante el periodo que precedió al movimiento revolucionario el estudio de las ciencias médicas se distinguió por el predominio de la influencia francesa, iniciado durante la presidencia del general Porfirio Díaz; no fue ajena a esta influencia la enseñanza de la anatomía, la cual se sustentaba en los libros Testut, Rouviere, Testud-Jacob, Poirier, etcétera.
<BR><BR>
En el año de 1933 se inició una nueva reforma educativa, encabezada por el ilustre maestro Ignacio Chávez, gracias a la cual se logro la construcción del auditorio, la biblioteca y un anfiteatro de disecciones. El plan de estudios de esa época incluía las materias en ciclos anuales de anatomía descriptiva, disección, anatomía topográfica, otro año de disección y uno de propedéutica quirúrgica que, en realidad, era una anatomía aplicada a la clínica quirúrgica.
                    </FIELDSET>
                </td>
            </tr>
    </table></center>
    <br>
    <br>
    <br>
    <center><table border="0" width='80%'>
            <tr>
                <td>
                    <FIELDSET>
                        <legend>FILOSOFIA</legend>
                        <br>
                        <div align='center'>
                        El Departamento de Anatomía de la Facultad de Medicina de la Universidad Nacional Autónoma de México tiene como filosofía formar profesionistas en salud, responsables y comprometidos con la sociedad, con capacidades y equilibrios ético, científico y cultural, fomentando valores como la verdad, la libertad, la honestidad, el respeto a la vida humana, la lealtad, la justicia y la solidaridad.
                        </div>
                    </FIELDSET>
                </td>
            </tr>
    </table></center>
    <br>
    <BR>
    <br>
    <center><table border="0" width='80%'>
            <tr>
                <td>
                    <FIELDSET>
                        <legend>CONTACTO</legend>
                        <br>
                        <div align='center'>
                        Dr. Sebastian Manuel Arteaga<BR>

Jefe de Departamento<BR>

Tel.: 56232424<BR>

Mail:  manuelarteagamartinez@hotmail.com
                        </div>
                    </FIELDSET>
                </td>
            </tr>
    </table></center>
    <br>
    <br>
    {% endblock content %}