{% extends 'blog/base.html' %}
    
    {% block content %}
    <center><h3>BIOLOGIA CELULAR Y TISULAR</h3></center>
    <HR>
        <br>
    
    <center><table border="0" width='80%'>
            <tr>
                <td>
                    <FIELDSET>
                        <legend>CONTACTO</legend>
                        <br>
                        <div align='center'>
                        DRA. MARÍA ISABEL GARCÍA PELÁEZ<br>

JEFA DEL DEPARTAMENTO <br>
TEL: 5623-2360 <br>
E-mail: jefaturabcyt@gmail.com<br>
                        </div>
                    </FIELDSET>
                </td>
            </tr>
    </table></center>
    <br>
    <br>
    {% endblock content %}