{% extends 'blog/base.html' %}
    
    {% block content %}
    <center><h3>INTEGRACION DE CIENCIAS MEDICAS</h3></center>
    <HR>
        <br>
    
    <center><table border="0" width='80%'>
            <tr>
                <td>
                    <FIELDSET>
                        <legend>CONTACTO</legend>
                        <br>
                        <div align='center'>
                        Jefatura<br>

Dra. Sara Morales López<br>

sara.moralez@gmail.com<br>
56232300 ext. 43013
                        </div>
                    </FIELDSET>
                </td>
            </tr>
    </table></center>
    <br>
    <br>
    {% endblock content %}