{% extends 'blog/base.html' %}
    
    {% block content %}
    <center><h3>CIRUGIA</h3></center>
    <HR>
        <br>
    
    <center><table border="0" width='80%'>
            <tr>
                <td>
                    <FIELDSET>
                        <legend>CONTACTO</legend>
                        <br>
                        <div align='center'>
                        Jefe del Departamento<BR>

     Dr. Jesús Tapia Jurado<BR>


     Email: tapiajj@amcg.org.mx<BR>
     Teléfono: 56232160
                        </div>
                    </FIELDSET>
                </td>
            </tr>
    </table></center>
    <br>
    <br>
    {% endblock content %}