{% extends 'blog/base.html' %}
    
    {% block content %}
    <center><h3>EMBRIOLOGIA</h3></center>
    <HR>
        <br>
    
    <center><table border="0" width='80%'>
            <tr>
                <td>
                    <FIELDSET>
                        <legend>CONTACTO</legend>
                        <br>
                        <div align='center'>
                        
Correo electrónico:	ensenanza.embriologiahumana@gmail.com<br><br>
Teléfono:	5623-2352 / 5623-2156
                        </div>
                    </FIELDSET>
                </td>
            </tr>
    </table></center>
    <br>
    <br>
    {% endblock content %}