{% extends 'blog/base.html' %}
    
    {% block content %}
    <center><h3>CIRUGIA</h3></center>
    <HR>
        <br>
    
    <center><table border="0" width='80%'>
            <tr>
                <td>
                    <FIELDSET>
                        <legend>CONTACTO</legend>
                        <br>
                        <div align='center'>
                        Dr. Gil Alfonso Magos Guerrero  <br>
Jefe del Departamento<br>
Tels.: 56 23 21 67 ó 56 16 14 89<br> 
jefatura.farmacologia@hotmail.com

                        </div>
                    </FIELDSET>
                </td>
            </tr>
    </table></center>
    <br>
    <br>
    {% endblock content %}