{% extends 'blog/base.html' %}
    
    {% block content %}
    <center><h3>HISTORIA Y FILOSOFIA DE LA MEDICINA</h3></center>
    <HR>
        <br>
    
    <center><table border="0" width='80%'>
            <tr>
                <td>
                    <FIELDSET>
                        <legend>CONTACTO</legend>
                        <br>
                        <div align='center'>
                        Jefatura del Departamento<br>
Dr. Rolando Neri Vela<br>
Tel. 5623-3151
                        </div>
                    </FIELDSET>
                </td>
            </tr>
    </table></center>
    <br>
    <br>
    {% endblock content %}