{% extends 'blog/base.html' %}
    
    {% block content %}
    <center><h3>INFORMATICA BIOMEDICA</h3></center>
    <HR>
        <br>
    
    <center><table border="0" width='80%'>
            <tr>
                <td>
                    <FIELDSET>
                        <legend>CONTACTO</legend>
                        <br>
                        <div align='center'>
                        Departamento de Informática Biomédica<br>
Teléfono: 56232354<br>
Atn.: Jorge A. Loyola
                        </div>
                    </FIELDSET>
                </td>
            </tr>
    </table></center>
    <br>
    <br>
    {% endblock content %}