{% extends 'blog/base.html' %}
{% load staticfiles %}
    
    {% block content %}
    <center><h3>MISI&Oacute;N Y VISI&Oacute;N</h3></center>
    <HR><br>
    <br>
    <center><table border="0" width='80%'>
            <tr>
                <td>
                    <FIELDSET>
                        <legend>MISI&Oacute;N</legend>
                        <br>
                        <div align='center'>
                            La Facultad de Medicina como parte de la Universidad Nacional Autónoma de México es una institución pública dedicada a formar profesionales líderes en las ciencias de la salud, altamente calificados, capaces de generar investigación y difundir el conocimiento. Sus programas están centrados en el estudiante, promueven el aprendizaje autorregulado y la actualización permanente con énfasis en la conducta ética, el profesionalismo y el compromiso con la sociedad mexicana.
                        </div>
                    </FIELDSET>
                </td>
            </tr>
    </table></center>
    <br>
    <br>
    <br>
    <center><table border="0" width='80%'>
            <tr>
                <td>
                    <FIELDSET>
                        <legend>VISI&Oacute;N</legend>
                        <br>
                        <div align='center'>
                        La Facultad de Medicina ejercerá el liderazgo intelectual y tecnológico en las ciencias de la salud en el ámbito nacional e internacional, mediante la educación innovadora y la investigación creativa aplicadas al bienestar del ser humano.
                        </div>
                    </FIELDSET>
                </td>
            </tr>
    </table></center>
    <br>
    <br>
    <br>
    <br>
    {% endblock content %}
