{% extends 'blog/base.html' %}
    
    {% block content %}
    <center><h3>PSIQUIATRIA Y SALUD MENTAL</h3></center>
    <HR>
        <br>
    
    <center><table border="0" width='80%'>
            <tr>
                <td>
                    <FIELDSET>
                        <legend>CONTACTO</legend>
                        <br>
                        <div align='center'>
                        
 Jefe del Departamento<BR>

     Dra. Silvia Ortiz León<BR>

     dra_silviaortiz@yahoo.com.mx 
                        </div>
                    </FIELDSET>
                </td>
            </tr>
    </table></center>
    <br>
    <br>
    {% endblock content %}